<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="work.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="work.js" defer></script>
</head>
<body>
    <div id="app">

      <div class="hambar">
        <ul>
          <li v-for="banner in banners">
            <a v-bind:href="banner.href">{{banner.item}}</a> 
          </li>
        </ul>
      </div>
<!--按了卡片的展示區-->
<div class="showarea"></div>
<div class="page">
  <div class="pagetitle">
    <h2>星際旅行訂票平台</h2>
    <h3>優游宇宙的夢想，從這裡開始實現</h3>
  </div>
  <div class="pagesubtitle">
    <div class="subleft">
      <h3>STAR TRAVEL 為 KK 公司宇宙旅行的購票網站。
        主要從地球出發，目的地包含月球、火星、水星、木星；未來太空轉運站建置完畢，將再擴增目的地土星和金星。</h3>
    </div>
    <div class="subright">
      <h3>設計原則：宇宙旅行、深色背景、強烈視覺效果</h3>
      <h3>開發方式：Bootstrap、Javascript、RWD</h3>
    </div>
  </div>
  <div class="pagemain">
    <div class="pagecard">
      <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2024%20web-camp/modal-image1.png" alt="">
      <h3>主視覺</h3>
      <span>可直接設定日期、起迄星球、張數，快速查詢可購買的票券。</span>
    </div>

    <div class="pagecard">
      <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2024%20web-camp/modal-image2.png" alt="">
      <h3>推薦查詢</h3>
      <span>給予最快起飛，以及最熱門的景點推薦，協助使用者進行選擇。</span>
    </div>

  </div>
  <div class="pagefooter"></div>
  <div class="close">
    <img src="https://cdn0.iconfinder.com/data/icons/pixel-perfect-at-24px-volume-3/24/5003-512.png" alt="">
  </div>
</div>
<!---->
    <div class="banner">
        
    </div>
    <div class="banner2">
        <div class="topslogon">
          <h2>
            <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2024%20web-camp/quote-left.png" alt="" id="topdot">
            讓使用者在觀賞與使用的旅程中，發現
            <label>設計的價值
              <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2024%20web-camp/mark.png" alt="" class="line">
            </label>
      
            <br>
            而我在設計與開發的過程中，看見
            <label>自己的價值
              <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2024%20web-camp/mark.png" alt="" class="line">
            </label>
      
            <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2024%20web-camp/quote-right.png" id="underdot">
          </h2>
        </div>
        <div class="buttonslogon">
          <div>
            <h3>2B經驗</h3>
            <hr>
            <p>內部監控系統、庫存系統、採購系統行銷整合系統</p>
          </div>
          <div>
            <h3>2C經驗</h3>
             <hr>
            <p>跨國美妝保養電商、個人品牌網站、醫美網站、電子商務</p>
          </div>
        </div>
        </div>
    <div class="main">
        <div class="card" v-for="card in cards">
            <div class="cardpic" v-bind:style="{ backgroundImage: 'url(' + card.pic + ')' }"></div>
            <div class="cardtitle">
              <h2>{{card.title}}</h2>
              <h3>{{card.subtitle}}</h3>
            </div>
            <div class="cardbutton">
              <div class="icon" v-for="icn in card.icon">{{icn}}</div>
            </div>
          </div>
    </div>
    <div class="footer">
        <ul>
            <li>
              <div class="btn"><span>1</span></div>
            </li>
            <li>
              <div class="btn"><span>2</span></div>
            </li>
            <li>
              <div class="btn"><span>3</span></div>
            </li>
            <li>
              <div class="btn"><span>4</span></div>
            </li>
          </ul>
    </div>
    <div class="contact"></div>
</div>
</body>
</html>
