<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="reset.css">
        <link rel="stylesheet" href="work.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
        <script src="work.js" defer></script>
        
    </head>
<body>
    <div id="app">
        <div class="hambar">
            <ul>
              <li v-for="banner in banners">
                <a v-bind:href="banner.href">{{banner.item}}</a> 
              </li>
            </ul>
          </div>
        <div class="banner">
            </div>
            <div class="servicepage"></div>
            <div class="servicesrea">
                <h2 id="serviceslogon">
                    <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2024%20web-camp/title-deco-left-lg.png" alt="">
                    服務項目
                    <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2024%20web-camp/title-deco-right-lg.png" alt="">
                </h2>
                <div class="row">
                <div class="servicecard">
                    <div class="serviceicon">
                        <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/2f8d8c7a6133b448ecff5bf0a3d282b87b7c6a7e/2024%20web-camp/service-item-visual.svg" alt="">
            
                    </div>
                    <h3>平面設計</h3>
                </div>
                <div class="servicecard">
                    <div class="serviceicon">
                        <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/2f8d8c7a6133b448ecff5bf0a3d282b87b7c6a7e/2024%20web-camp/service-item-ui.svg" alt="">
                    </div>
                    <h3>UI設計</h3>
                </div>
                <div class="servicecard">
                    <div class="serviceicon">
                        <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/2f8d8c7a6133b448ecff5bf0a3d282b87b7c6a7e/2024%20web-camp/service-item-html%26css.svg" alt="">
                    </div>
                    <h3>切版服務</h3>
                </div>
                <div class="servicecard">
                    <div class="serviceicon">
                        <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/2f8d8c7a6133b448ecff5bf0a3d282b87b7c6a7e/2024%20web-camp/service-item-front-end.svg" alt="">
                    </div>
                    <h3>前端開發</h3>
                </div>
            </div>
                <h2>想要合作或是理解更多?</h2>
                <button>詳細內容與合作流程</button>
            </div>
            <div class="servicedetail">
                <h2 class="littletitle">
                    <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2024%20web-camp/title-deco-left-lg.png" alt="">
                    服務流程
                    <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2024%20web-camp/title-deco-right-lg.png" alt="">
                </h2>
                
                <div class="servicepress">
                    <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/2f8d8c7a6133b448ecff5bf0a3d282b87b7c6a7e/2024%20web-camp/service-item-visual.svg" alt="">
                    <div class="servicecontent">
                        <h3>初步接洽</h3>
                        <p>透過表單或其他社群軟體與我連獲，根據難易度與複雜度，後續可能需要電話/線上討論</p>
                    </div>
                </div>
                <h3 class="arrow"> ↓　</h3>
                 <div class="servicepress">
                    <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/2f8d8c7a6133b448ecff5bf0a3d282b87b7c6a7e/2024%20web-camp/service-item-visual.svg" alt="">
                    <div class="servicecontent">
                        <h3>需求釐清</h3>
                        <p>透過訪談與問卷，解析客戶需求，並針對痛點給予實際建議</p>
                    </div>
                </div>
                <h3 class="arrow"> ↓　</h3>
                 <div class="servicepress">
                    <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/2f8d8c7a6133b448ecff5bf0a3d282b87b7c6a7e/2024%20web-camp/service-item-visual.svg" alt="">
                    <div class="servicecontent">
                        <h3>初步接洽</h3>
                        <p>透過表單或其他社群軟體與我連獲，根據難易度與複雜度，後續可能需要電話/線上討論</p>
                    </div>
                </div>
                <h3 class="arrow"> ↓　</h3>
                 <div class="servicepress">
                    <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/2f8d8c7a6133b448ecff5bf0a3d282b87b7c6a7e/2024%20web-camp/service-item-visual.svg" alt="">
                    <div class="servicecontent">
                        <h3>委託簽約</h3>
                        <p>合約雙方用印後，即正式開始合作
                            可提供發票或勞務報酬單，須支付 20% 訂金/線上討論</p>
                    </div>
                </div>
                <h3 class="arrow"> ↓　</h3>
                 <div class="servicepress">
                    <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/2f8d8c7a6133b448ecff5bf0a3d282b87b7c6a7e/2024%20web-camp/service-item-visual.svg" alt="">
                    <div class="servicecontent">
                        <h3>版本呈現</h3>
                        <p>根據合約內容進行設計或開發</p>
                    </div>
                </div>
                <h3 class="arrow"> ↓　</h3>
                <div class="servicepress">
                   <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/2f8d8c7a6133b448ecff5bf0a3d282b87b7c6a7e/2024%20web-camp/service-item-visual.svg" alt="">
                   <div class="servicecontent">
                       <h3>來回修正</h3>
                       <p>依據合約規定之修正次數進行，次數計算以 mail 為準</p>
                   </div>
               </div>
            </div>

            <div class="servicepricearea">
                <h2 class="littletitle">
                    <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2024%20web-camp/title-deco-left-lg.png" alt="">
                    價格表
                    <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2024%20web-camp/title-deco-right-lg.png" alt="">
                </h2>
<div class="row">
                <div class="serviceprice">
                    <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/2f8d8c7a6133b448ecff5bf0a3d282b87b7c6a7e/2024%20web-camp/service-item-visual.svg" alt="">
                    <h2 class="serviceitem">平面設計</h2>
                    <hr>
                    <h2 class="servicemoney">6,000</h2>
                    <p>起</p>
                </div>

                <div class="serviceprice">
                    <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/2f8d8c7a6133b448ecff5bf0a3d282b87b7c6a7e/2024%20web-camp/service-item-ui.svg" alt="">
                    <h2 class="serviceitem">UI 設計</h2>
                    <hr>
                    <h2 class="servicemoney">15,000</h2>
                    <p>起</p>
                </div>

                <div class="serviceprice">
                    <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/2f8d8c7a6133b448ecff5bf0a3d282b87b7c6a7e/2024%20web-camp/service-item-front-end.svg" alt="">
                    <h2 class="serviceitem">前端開發</h2>
                    <hr>
                    <h2 class="servicemoney">22,000</h2>
                    <p>起</p>
                </div>
            </div>
            </div>
            <h2 class="littletitle">
                <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2024%20web-camp/title-deco-left-lg.png" alt="">
                客戶案例
                <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2024%20web-camp/title-deco-right-lg.png" alt="">
            </h2>
            <div class="main">
                <div class="card" v-for="card in cards">
                    <div class="cardpic" v-bind:style="{ backgroundImage: 'url(' + card.pic + ')' }"></div>
                    <div class="cardtitle">
                      <h2>{{card.title}}</h2>
                      <h3>{{card.subtitle}}</h3>
                    </div>
                    <div class="cardbutton">
                      <div class="icon" v-for="icn in card.icon">{{icn}}</div>
                    </div>
                  </div>
            </div>
<div class="questionarea">
    <h2 class="littletitle">
        <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2024%20web-camp/title-deco-left-lg.png" alt="">
        常見問題
        <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2024%20web-camp/title-deco-right-lg.png" alt="">
    </h2>
<div class="row">
    <div class="questioncard">
        <h3>時程很趕的話可以加快作業嗎？</h3>
        <p>每提早一天，只要支付總報價的 5%，我們即會視為急件為您趕工！</p>
    </div>
    <div class="questioncard">
        <h3>白天可以開會討論嗎？</h3>
        <p>每週一三五的白天，可以約定開會時間！</p>
    </div>
</div>
<div class="row">
    <div class="questioncard">
        <h3>有實際開發的網站可以參考嗎？</h3>
        <p>請填寫表單或來信索取，部分合作有簽保密協定，無法於網路上公開喔。</p>
    </div>
    <div class="questioncard">
        <h3>提供比稿服務嗎？</h3>
        <p>只要支付費用，設計提供比稿服務，但切版與前端開發恕不提供該服務內容。</p>
    </div>
</div>
</div>
    <div class="contact"></div>
    </div>

</body>
</html>
